{% extends "base.html"%} {% block title %}Beranda{% endblock %} {% block content %}
<h1 align="center">Catatan</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onclick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"> </textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Tambahkan Catatan</button>
  </div>
</form>
{% endblock %}
