{% extends "base.html"%} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Masukkan alamat email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Masukkan password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Masuk</button>
  </form>
  {% endblock %}
  