{% extends "base.html"%} {% block title %}Daftar{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Daftar</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Masukkan alamat email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Nama pertama</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Masukkan nama pertama"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Masukkan password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (konfirmasi)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Konfirmasi password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Masukkan</button>
</form>
{% endblock %}
